.col1{
	border: 20px solid blanchedalmond;
	height: 50%;
}
.col2{
	border: 20px solid blanchedalmond;
	height: 483px;
}

.chart
{
	padding: 30px 10%;
	max-width: 800px;
	height: 400px;
}

img{
	padding: 70px;
}

h1{
	font-size: medium;
	text-align: center;
	padding-top: 20px;
}



