



.content {
  margin-bottom: 40px;
}

.container2 {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container2 h2 {
  color: #007bff;
}

.container2 img {
  max-width: 100%;
  height: auto;
  float: right;
  margin: 0 0 10px 10px;
}

.video {
  margin-bottom: 40px;
}

.video iframe {
  display: block;
  width: 100%;
  height: 315px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling the awareness videos section */
.awareness-videos {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.awareness-videos h1 {
  color: #007bff;
  margin-bottom: 20px;
}

.awareness-videos p {
  margin-bottom: 30px;
}

