.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }

  .point {
    margin-bottom: 40px;
  }

  .point-number-title {
    font-size: 30 px;
    color: #333333;
    margin-bottom: 10px;
  }

  .point-number {
    font-size: 30px;
    color: #444444;
    
  }

  .point-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 15px;
    margin-left: 20%;
    
  }

  p {
    color: #666666;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
  }
.point-title{
    font-size: 30px;

}