.coustom{
    color: rgb(0, 255, 4);
    text-shadow: 30px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.circular-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden;
}
.circular-image img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    
}
.check{
    width: 100%;
    border-width: 550px;
    border-radius: 0px;
    margin-top: 5px;
    position: sticky;
    background-color: rgb(199, 183, 183);
    
}
.neww {
    background: url('../resource/headim.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 100vh;
}
.header-content {
    padding-top: 30vh;
    color: rgb(226, 22, 22);
    text-align: center;
  }

.down {
    position: absolute;
    bottom: 5em;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
.next-page {
  color: white;
  font-size: 1.5em;
}
.next-page:hover {
  color: #C6BEC1;
}
  