.coustom{
    color: chartreuse;
    text-shadow: 30px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.circular-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; /* Set the desired size of the circular image container */
    height: 50px; /* Set the desired size of the circular image container */
    border-radius: 50%; /* This makes the container circular */
    overflow: hidden;
}
.circular-image img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    
}
.check{
    width: 100%;
    border-width: 550px;
    background-color: rgb(55, 54, 54);
    border-radius: 50px;
    margin-top: 5px;
    
}