.card1{
    margin-bottom: 50px;
}
.card2{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 100%;
    margin-top: 10%;
}
.adj{
    border-radius: 30px;

}

.h-60{
    height: 80%;
}
.adj1{
    width: 550px;
    height: 300px;
    margin-top: 2%;
    margin-left: 10%;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    background-image: url('../resource/new1.jpg');
    background-size: cover;
    animation: floating 3s infinite ease-in-out;
}
.adj2{
    width: 550px;
    height: 300px;
    margin-top: 2%;
    margin-left: 20%;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    background-image: url('../resource/new2.jpg');
    background-size: cover;
    animation: floating 3s infinite ease-in-out;
}
.adj1:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.1;
    
}
.adj2:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    
}
.ad{
    margin-top: 50px;;
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}
.g{
    
    margin-top: 10%;
    margin-left: 2%;
}
.g1{
    margin-top: 15%;
    margin-left: 50px;
    
}
p{
  font-size: 20px;
  font: bolder;
}

.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}








