.transbox {
    background-color:#fff;
    padding:15px;
    border-radius:10px;
    border:solid #009933 5px;
    color:#000;
}
.content {
    padding:10px;
    font-family:cambria;
    text-align:left;
    font-size:16px;
}
.transbox1 {
    background-color:#fff;
    padding:15px;
    width:400px;
    border-radius:10px;
    border:solid #009933 5px;
    color:#000;
}
.content1 {
    padding:10px;
    font-family:cambria;
    text-align:left;
    font-size:16px;
}
.clr{
    background-image: linear-gradient(to bottom right, #004d00, #006600, #248f24, #00b300, #47d147, #99e699); 
    border: solid #99ff99 5px; 
    border-radius: 20px;
    
}
.txt{
    font-size:24px;
    color:#fff;

}
.pbg{
    padding:30px;
    width:90%;
    background:url("../resource/pbg.jpg");
    background-position:left;
    border-radius:10px;
}