.section-padding{
    padding:50px 0;
}
.carousel-item{
    height: 50vh;
    min-height: 300px;
}
.c1{
    background-color: aliceblue;
}
.c2{
    background-color: aliceblue;
}

.section-padding1{
    padding-left: 100px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Koh Santepheap';

}
p{
    font-family: 'caladea';

}
